/* стиль елементів з моделями товарів items-model */
#model-card:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
  z-index: 1;
}
#model-card:hover{
  transition: transform 250ms;
}

#model-store-card:hover {
    border-bottom: 2px solid orange !important;
    z-index: 1;
    transition: border-bottom 250ms ease-in-out;
}

#model-store-card img {
    transition: transform 0.3s ease;
    width: 100%; /* Задаємо розмір зображення, можна налаштувати під ваші потреби */
}

#model-store-card:hover img {
    transform: scale(1.04); /* Збільшуємо зображення на 20% */
}

a {
text-decoration: none;
}

/* Стилі для великих маленьких екранів (опера) */
@media only screen and (min-width: 700px) and (max-width: 1199px) {
  .character {
    position: absolute;
    top: 180px;
    right: 50px;
    margin: 0;
    padding: 5px 3px;
    width: 200px;
    height: 210px;
    z-index: 2;
  }
}
/* Стилі для середніх екранів */
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .character {
    position: absolute;
    top: 180px;
    right: 50px;
    margin: 0;
    padding: 5px 3px;
    width: 380px;
    height: 210px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 100px !important;
  }
}

@media only screen and (min-width: 1265px) and (max-width: 1399px) {
  .character {
    position: absolute;
    top: 180px;
    right: 80px;
    margin: 0;
    padding: 5px 3px;
    width: 380px;
    height: 210px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 100px !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .character {
    position: absolute;
    top: 180px;
    right: 200px;
    margin: 0;
    padding: 5px 3px;
    width: 350px;
    height: 130px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 130px !important;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1545px) {
  .character {
    position: absolute;
    top: 180px;
    right: 190px;
    margin: 0;
    padding: 5px 3px;
    width: 380px;
    height: 130px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 80px !important;
  }
}

@media only screen and (min-width: 1545px) and (max-width: 1610px) {
  .character {
    position: absolute;
    top: 180px;
    right: 210px;
    margin: 0;
    padding: 5px 3px;
    width: 380px;
    height: 130px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 80px !important;
  }
}

@media only screen and (min-width: 1611px) and (max-width: 1699px) {
  .character {
    position: absolute;
    top: 180px;
    right: 230px;
    margin: 0;
    padding: 5px 3px;
    width: 380px;
    height: 130px;
    z-index: 2;
  }
  #characteristics-block {
  margin-top: 50px !important;
  }
}


@media only screen and (min-width: 1700px) and (max-width: 2540px) {
  .character {
    position: absolute;
    top: 210px;
    right: 250px;
    margin: 0;
    padding: 5px 3px;
    width: 470px;
    height: 210px;
    z-index: 2;
  }
}
.superdiv {
    position: relative; /* Для правильного функціонування зіндексів */
    z-index: 1; /* Встановіть відповідний зіндекс для нижчого розташування */
}

.accordion-button-constructor:not(.collapsed) {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-color: #ededed;
  box-shadow: 0 0 0 0.20rem #ffc10778;
}

.accordion-button-constructor {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.20rem #ffc10778;
}

.constructor-form:focus {
    box-shadow: 0 0 0 0.20rem #ffc10778;
}

.order-form:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(102, 102, 153, 0.3);
}
