
.article-image img {
    width: 120%;
    height: auto;
}
.parallax-container {
    position: relative; /* Встановлюємо відносне позиціонування для контейнера */
    width: 100%; /* Забезпечує, що контейнер займає всю ширину */
    height: 350px; /* Встановлює висоту контейнера */
    overflow: hidden; /* Забезпечує, що елементи не виходять за межі контейнера */
}

#article-title{
  position: absolute; /* Встановлюємо абсолютне позиціонування для тексту */
    top: 30%; /* Розміщуємо текст на 50% від висоти контейнера */
    left: 10%; /* Розміщуємо текст на 50% від ширини контейнера */
    right: 10%;
     /* Вирівнюємо текст по центру */
    color: black; /* Колір тексту */
    background-color: rgba(255, 255, 255, 0.9); /* Напівпрозорий фон для читабельності */
    padding: 10px; /* Відступи навколо тексту */
    border-radius: 5px; /* Закруглені кути фону */
    text-align: center; /* Центрування тексту */
}